<div ng-if="loading" class="col-xs-12 p-0 m-tb-40 text-center">
	<img class="h-100" ng-src="{{imagePath}}/loading.gif">
</div>
<div ng-if="!loading" class="col-xs-12 p-0 m-tb-40">
	<h1 ng-bind="pageTitle"></h1>
	<hr class="col-xs-12">
	<div class="col-xs-12" ng-bind-html="pageContent"></div>
</div>