<div id="navigation" class="col-xs-12 p-0">
	<nav class="navbar navbar-default m-0">
		<div class="container p-0">
			<div class="col-xs-12">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
					</button>
					<a ui-sref="home"><img class="h-80" ng-src="{{rootPath}}/assets/img/brand.png"></a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right p-tb-15">
						<li><a ui-sref="home" ng-class="page == 1 ? 'active' : ''">Home</a></li>
	                    <li><a ui-sref="contact" ng-class="page == 2 ? 'active' : ''">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</div>