<div class="col-xs-12 p-0">
	<div ng-if="loading" class="col-xs-12 p-0 m-tb-40 text-center">
		<img class="h-100" ng-src="{{imagePath}}/loading.gif">
	</div>
	<div ng-if="!loading" ng-repeat="post in posts track by $index" class="col-xs-12 col-md-4 m-t-20 p-tb-0" ng-class="MiddlePost($index) ? 'p-s-5' : LeftPost($index) ? 'p-l-0 p-r-10' : 'p-l-10 p-r-0'">
		<a ng-if="posts" ui-sref="post({ slug:post.slug })">
			<div class="col-xs-12 p-20 card min-h-480">
				<div class="col-xs-12 p-0">
					<img class="wp-100" ng-src="{{post.thumbnail_url || rootPath + '/assets/img/placeholder.png'}}">
				</div>
				<div class="col-xs-12 p-s-0 p-t-20">
					<div class="col-xs-12 p-s-0">
						<span class="pull-left"><span ng-bind-html="post.date | date : 'longDate'"></span></span>
						<span class="pull-right"><span ng-bind-html="post.author"></span></span>
					</div>
					<hr class="col-xs-12 p-0">
					<div class="col-xs-12 p-0">
						<h2 class="text-center m-t-0" ng-bind-html="post.title"></h2>
						<span ng-bind-html="post.excerpt"></span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>