<div ng-if="loading" class="col-xs-12 p-0 m-tb-40 text-center">
	<img class="h-100" ng-src="{{imagePath}}/loading.gif">
</div>
<div ng-if="!loading" class="col-xs-12 p-0 m-tb-40">
	<h1 ng-bind="post.title"></h1>
	<hr class="col-xs-12 p-0">
	<span ng-bind="post.date" class="pull-left"></span><span ng-bind="post.author" class="pull-right"></span>
	<hr ng-if="!post.error" class="col-xs-12 p-0">
	<div class="col-xs-12 p-0" ng-bind-html="post.content"></div>
</div>