/*
	Theme Name: SPA Theme
	Theme URI: http://vendorfuel.com
	Description: SPA Theme for WordPress
	Version: 1.0.0
	Author: Ken Schnetz
	Author URI: http://vendorfuel.com
	Tags: AngularJS, Single Page Application, HTML5, CSS3
*/
.active { font-weight: bold; }
.card { box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; }
.card:hover { box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2); }